table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
th{
    font-size: 1.2rem
}

td,
th {
    /* border: 1px solid rgba(105, 90, 205, 0.542); */
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #31363F;
}

