table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th {
    font-size: 1.2rem
}

td,
th {
    /* border: 1px solid #695acd2c; */
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #31363F;
}