@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  color: #EEEEEE;
  background-color: #222831;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.light-dark {
  background-color: #31363F;
}

.skyblue {
  background-color: #76ABAE;
}

.btn{
  padding: 10px;
  font-weight: 600;
  background-color: slateblue;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.btn:active {
  background-color: #5a2bcc;
  transform: scale(0.98);
}
.btn2{
  padding: 5px 12px;
  /* font-weight: 600; */
  background-color: slateblue;
  border-radius: 18px;
  transition: all 0.2s ease-in-out;
}
.btn2:active {
  background-color: #5a2bcc;
  transform: scale(0.98);
}
